@mixin setSize($width, $height) {
  height: $height;
  width: $width;
}
//用 @include 使用一个 Mixin
p {
  @include setSize(10px, 10px);
}

@mixin setColor($color: blue) {
  color: $color;
}

h1 {
  @include setColor(red);
}

div {
  @include setColor();
}

@mixin boxShadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

.boxShadow {
  @include boxShadow(0px 4px 5px #666, 2px 6px 10px #999);
}
