//声明一个 List 类型的一维数据
$size: ();
//利用 @for 和 append 方法向 $size 中添加数据
@for $i from 0 through 2 {
  $size: append($size, $i*10px);
}
// 利用 @each 设置数据
@each $var in $size {
  .long-#{index($size, $var)} {
    width: $var;
  }
}
