//声明带有默认值的变量
$size: 12px !default;
//使用
p{
  font-size:$size;
}
//普通声明
$test: 52px;
//声明带有默认值的变量
$test: 12px !default;
//使用
.test1 {
  //更改变量值
  $test: 32px;
  font-size: $test;
}
.test2 {
  font-size: $test;
}
