//声明 List 类型的一维数据
$em: 5em 10em;

//声明 List 类型的二维数据，相当于 JavaScript 中的二维数组
$em1: 34em 38em, 46em 48em;
$em2: (12em 14em) (22em 34em);

//使用
a {
  font-size:nth($em,1);
}
i {
  font-size:nth(nth($em1,2),2);
}
span {
  font-size:nth(nth($em2,1),1);
}
