//声明 Map 类型数据
$maps: (header: red, div: green, footer: blue);
//利用 map-keys 方法，获取变量 $maps 中的所有 Key ，并存到 $mapKeys 中。
$mapKeys: map-keys($maps);
//使用
#{nth($mapKeys, 1)} {
  color: map-get($maps, "header");
}
#{nth($mapKeys, 2)} {
  color: map-get($maps, "div");
}
#{nth($mapKeys, 3)} {
  color: map-get($maps, "footer");
}
